
$header-bg: #0f3516; 
$header-text: #ffffff;
$header-hover: #bfbec0;
$header-height: 4.5rem;
/*
$header-bg: #0f172a; // Dark navy
// or
$header-bg: #374151; // Charcoal grey
// or

$header-bg: #3a255d; //purple
#6f2a67 //pink/purple
#0f3516 dark green
$header-bg: #004643; // Deep green*/
