.nav-link {
  color: white;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus-visible {
    color: rgb(191, 190, 192);
    transform: scale(1.25);
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }
}